body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system,
    Work Sans,
    Helvetica Neue,
    Helvetica,
    Helvetica,
    Arial,
    sans-serif;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
}
