.links {
  color: beige;
  text-decoration: none;
  padding: 1rem;
  display: flex;
  list-style-type: none;
}

.activeItem {
  background-color: rgba(9, 9, 121, 0.358);
  border-radius: 10px;
}

.title {
  color: beige;
  text-decoration: none;
  padding: 1rem;
}
