.links {
  padding: 1rem;
  display: flex;
  list-style-type: none;
}

.activeItem {
  @apply bg-dune-copper;
  border-radius: 8px;
}

.title {
  text-decoration: none;
  padding: 1rem;
}

.title:not(.activeItem):hover {
  @apply bg-dune-sand text-dune-charcoal;
  border-radius: 8px;
}
